<% content_for :title, t("sessions.invalid.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= tag.h1 t("sessions.invalid.heading"), class: "govuk-heading-l" %>

    <%= tag.p t("sessions.invalid.description"), class: "govuk-body" %>
     <%= tag.p t("sessions.invalid.action"), class: "govuk-body" %>
  </div>
</div>
