<% content_for :title, email_alert_signup.title %>

<header>
  <%= render partial: 'govuk_component/title', locals: {
    title: email_alert_signup.title,
    context: "Email alert subscription"
  } %>
</header>

<%= form_for email_alert_signup, html: { class: "signup-form" } do |form| %>
  <p><%= email_alert_signup.summary %></p>

  <%= button_tag 'Create subscription' %>
<% end %>
