<% content_for :title, t("subscription_authentication.expired.title") %>
<% content_for :meta_description, t("subscription_authentication.expired.description") %>

<%= render "govuk_publishing_components/components/title", {
  title: t("subscription_authentication.expired.title")
} %>

<p class="govuk-body">
  <%= t("subscription_authentication.expired.description") %>
</p>
