<% content_for :title, t("subscription_authentication.title") %>
<% content_for :meta_description, t("subscription_authentication.description") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "govuk_publishing_components/components/title", {
      title: t("subscription_authentication.title")
    } %>

    <p class="govuk-body">
      <%= t("subscription_authentication.description") %>
    </p>
  </div>
</div>
