<%
page_title = t("unsubscriptions.title.confirm_already_unsubscribed")
page_title += " from #{@title}" if @title
content_for :title, page_title
%>

<% if @authenticated_for_subscription %>
  <% content_for :back_link do %>
    <%= render "govuk_publishing_components/components/back_link", {
      href: list_subscriptions_path
    } %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= page_title %></h1>

    <%= render "confirmation" %>
  </div>
</div>
