<% content_for :title, "Unsubscription successful" %>
<%= render 'govuk_component/title', title: @title %>
<% if @title %>
  <p>You have been unsubscribed from <%= @title %></p>
<% else %>
  <p>You have been unsubscribed.</p>
<% end %>
