<% content_for :title, "You have successfully unsubscribed" %>
<%= render 'govuk_component/title', title: @title %>
<% if @title %>
 <p>You won’t get any more updates about <%= @title %>.</p>
<% else %>
 <p>You won’t get any more updates about this topic.</p>
<% end %>
