<% content_for :title, 'You’ve successfully unsubscribed' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You’ve successfully unsubscribed</h1>

    <% if @title %>
      <p class="govuk-body">You won’t get any more updates about <%= @title %>.</p>
    <% else %>
      <p class="govuk-body">You won’t get any more updates about this topic.</p>
    <% end %>
  </div>
</div>
