<% content_for :title, t("unsubscriptions.title.confirmed") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("unsubscriptions.title.confirmed") %></h1>

    <%= render "confirmation" %>
  </div>
</div>
