<% content_for :title, "Confirm unsubscription" %>
<header>
  <%= render partial: 'govuk_component/title', locals: {
    title: @title,
    context: "Successfully unsubscribed"
  } %>
</header>
<% if @title %>
  <p>You have been unsubscribed from <%= @title %></p>
<% else %>
  <p>You have been unsubscribed.</p>
<% end %>
