<% content_for :title, 'Manage your subscriptions' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Manage your subscriptions</h1>

    <%= govspeak do %>
      <p>We’ve sent an email to <%= @address %>.</p>
      <p>Check your inbox and click on the link to confirm your email address.</p>
    <% end %>
  </div>
</div>
