<% content_for :title, t("subscriber_authentication.check_email.heading") %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("subscriber_authentication.check_email.heading"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>

<div class="govuk-body">
  <%= t("subscriber_authentication.check_email.description_html", address: @address) %>
</div>

<%= render "govuk_publishing_components/components/details", {
  title: t("subscriber_authentication.check_email.delay_title"),
  ga4_attributes: {
    index_section_count: 1
  }
} do %>
  <%= t("subscriber_authentication.check_email.delay_html") %>
<% end %>
