<% content_for :title, t("subscriber_authentication.use_your_govuk_account.heading") %>

<%= render "govuk_publishing_components/components/heading", {
  text: yield(:title),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>

<p class="govuk-body"><%= t("subscriber_authentication.use_your_govuk_account.description") %></p>

<%= form_tag process_govuk_account_path, method: :post, :"data-module" => "explicit-cross-domain-links" do %>
  <%= render "govuk_publishing_components/components/button", {
    text: t("subscriber_authentication.use_your_govuk_account.continue"),
  } %>
<% end %>
