<% content_for :title, "Subscription created successfully" %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: @back_url
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "govuk_publishing_components/components/panel", {
      title: "You’ve subscribed successfully"
    } %>

    <% frequency_variations = t('frequencies').map { |frequency, config|
        [frequency, config[:subscribed_to_topic].sub('@title', @title) ]
    }.to_h %>

    <%= govspeak do %>
      <p><%= frequency_variations[@frequency.to_sym] %></p>
    <% end %>
  </div>
</div>
