<% content_for :title, "Subscription created successfully" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "govuk_publishing_components/components/panel", {
      title: "You’ve subscribed successfully"
    } %>

    <p class="govuk-body">
      <%= I18n.t("subscriptions.complete.summary.#{@frequency}", title: @title) %>
    </p>
  </div>
</div>
