<% content_for :title, "Subscription created successfully" %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: @back_url
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "govuk_publishing_components/components/panel", {
      title: "You’ve subscribed successfully"
    } %>

    <% frequency_variations = {
      "immediately" => "You’ll get an email each time there’s an update to ‘#{@title}’",
      "daily" => "You’ll get an email each day there’s been an update to ‘#{@title}’.",
      "weekly" => "You’ll get one email per week if there’s been an update to ‘#{@title}’.",
    } %>

    <%= govspeak do %>
      <p><%= frequency_variations[@frequency] %></p>
    <% end %>
  </div>
</div>
