<% content_for :title, t("link_accounts.things_are_changing.heading") %>

<div class="govuk-grid-row">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("link_accounts.things_are_changing.heading"),
      heading_level: 1,
      font_size: "l",
      margin_bottom: 6,
    } %>
  <%= sanitize(t("link_accounts.things_are_changing.description")) %>

    <%= form_tag(process_govuk_account_path) do %>
      <%= render "govuk_publishing_components/components/button", {
        text: t("link_accounts.things_are_changing.action_button.#{@link_or_sign_in}"),
        margin_bottom: true,
        data_attributes: {
          module: 'auto-track-event',
          track_category: 'things_are_changing',
          track_action: t("link_accounts.things_are_changing.tracking.action_button.#{@link_or_sign_in}"),
        },
      } %>
  <% end %>
</div>
