@import "typography";
@import "measurements";
@import "design-patterns/buttons";
@import "govuk-elements";
@import "taxonomy-signup";
@import "components/_text-input";

#wrapper {
  padding-bottom: $gutter;

  @include media(desktop) {
    padding-bottom: $gutter * 2;
  }

  button {
    @include button;
    margin: 20px 0;
  }
}
