$govuk-typography-use-rem: false;
$govuk-compatibility-govuktemplate: true;

@import "govuk_publishing_components/all_components";

.app-email-option {
  @include govuk-font(24, $line-height: 1.5);
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(3);
}

.govuk-link,
.govuk-back-link {
  &:focus {
    @include govuk-template-link-focus-override;
  }
}
