#email-alert-frontend{

  .hidden-submit {
    margin-left: 16px;
    padding-left: 28px;
    padding-top: 0;
  }

  .js-hidden-submit {
    display: none;
  }

  .no-js-panel {
    border-left-style: none;
    padding-left: 33px;
  }

  .no-js-hidden-submit{
    margin-top: $gutter;
  }

  .multiple-choice {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .email-option {
    @include core-24;
    margin-left: 0;
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
  }

  .button {
    clear: both;
    float: left;
  }

}