#email-alert-frontend{

  .description-block {
    float: left;
    width: 100%;
    margin-bottom: $gutter;
    margin-left: 16px;
  }

  .multiple-choice {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .email-option {
    @include core-24;
  }

}