<% content_for :title, @taxon['title'] %>

<%= render 'govuk_component/breadcrumbs', breadcrumbs: @breadcrumbs %>

<div class="govuk-title length-long">
  <h1>What do you want to get alerts about?</h1>
</div>

  <div class='email-signup-taxon'>
  <p class="email-option">Everything published to GOV.UK about:</p>
    <%= render partial: 'taxon', locals: { taxon: @taxon, is_parent: true } %>
  </div>

  <p class='email-option description-block'>or one of the following</p>

  <% @taxon.dig('links', 'child_taxons').each_with_index do |taxon, taxon_index| %>
    <div class='email-signup-taxon'>
      <%= render partial: 'taxon', locals: { taxon: taxon, taxon_index: taxon_index + 1 } %>
    </div>
  <% end %>
